.footer {
  p {
    color: $hopr_white;
  }

  .second-line-footer {
    display: flex;
    justify-content: space-between;

    > p {
      font-size: 13px;
    }

    a {
      text-decoration: none;

      p {
        font-size: 1em;
      }
    }
  }
}