.partners-section {
  .container {
    max-width: 850px;

    .partners {
      ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        list-style: none;
        margin: 0;
        padding: 0;

        li {
          line-height: 0;
          padding: 0;
          margin: 1rem 1.5rem;

          a {
            display: inline-block;
            line-height: 0;
          }

          img {
            filter: contrast(0.5);
          }
        }
      }
    }
  }
}
