body {
  font-family: "Source Code Pro", monospace;
  margin: 0;
  padding: 0;

  p {
    color: $hopr_grey;
    font-size: 1.25em;
    font-weight: 300;
    line-height: 2.1rem;
    text-align: center;
  }

  h1 {
    color: $hopr_white;
    font-size: 7.5rem;
    font-weight: normal;
    line-height: normal;
    margin: 0;
    padding: 0;
    text-align: center;
    text-shadow: 0rem 0.125rem 0.25rem rgba(0, 0, 0, 0.5);
  }

  h2 {
    font-size: 2rem;
    text-align: center;
    color: $hopr_grey;
    font-weight: 400;
  }

  h4 {
    color: $hopr_grey;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
  }

  h6 {
    font-size: 1.125rem;
    color: $hopr_grey;
    font-weight: 200;
  }
}

.background-yellow {
  background-color: $hopr_yellow;
}

.background-blue{
  background-color: $hopr_blue;
}

.padding-sections {
  padding-top: 4%;
  padding-bottom: 4%;
}

.p-color-white {
  color: $hopr_white;
}

.p-align-left {
  text-align: left;
}