$hopr_black: #292941;
$hopr_blue:#1423C1;
$hopr_bright_blue: #0000b4;
$hopr_dark_blue: #000050;
$hopr_grey: #414141;
$hopr_sky_blue: #b4f0ff;
$hopr_steel_blue: #3c64a5;
$hopr_white: white;
$hopr_yellow: #ffffa0;